{% extends 'inventory/base.html' %}

{% block title %}Edit Category - Inventory{% endblock %}
{% block page_title %}Edit Category{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="card p-4">
    <form method="POST" class="row g-3">
      {% csrf_token %}
      <div class="col-md-6">
        {{ form.name.label_tag }}
        {{ form.name }}
      </div>
      <div class="col-md-6">
        {{ form.store.label_tag }}
        {{ form.store }}
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary mt-3">Update Category</button>
        <a href="{% url 'category-list' %}" class="btn btn-secondary mt-3">Back to List</a>
      </div>
    </form>
  </div>

</div>
{% endblock %}
